<ul>
    {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}

    {% if page_obj.number|add:'-4' > 1 %}
        <li>
            <a href="?page={{ page_obj.number|add:'-5' }}">{{ paginator.ELLIPSIS }}</a>
        </li>
    {% endif %}

    {% for page_number in page_obj.paginator.page_range %}
        {% if page_obj.number == page_number %}
            <li class="current">
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
        {% elif page_number > page_obj.number|add:'-5' and page_number < page_obj.number|add:'5' %}
            <li>
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
        <li>
            <a href="?page={{ page_obj.number|add:'5' }}">{{ paginator.ELLIPSIS }}</a>
        </li>
    {% endif %}

    {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}
</ul>