{% load humanize %}
{% load thumbnail %}

<div class="mini_cart">
    <div class="cart_close">
        <div class="cart_text">
            <h3>سبد خرید من</h3>
        </div>
        <div class="mini_cart_close">
            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
        </div>
    </div>

    {% for detail in user_basket_order.userbasketorderdetail_set.all %}
        <div class="cart_item">
            <div class="cart_img">
                <a href="{{ detail.product.get_absolute_url }}"><img
                        src="{% thumbnail detail.product.image '90x90' crop='center' as img %}
                    {{ img.url }}
                {% endthumbnail %}" alt=""></a>
            </div>
            <div class="cart_info">
                <a href="{{ detail.product.get_absolute_url }}">{{ detail.product.title }}</a>

                <span class="quantity">تعداد: {{ detail.product_count }}</span>
                <span class="price_cart">قیمت کل: {{ detail.final_price|intcomma:False }} تومن</span>

            </div>
            <div class="cart_remove">
                <a href="#"><i class="ion-android-close"></i></a>
            </div>
        </div>
    {% endfor %}

    <div class="mini_cart_table">
        <div class="cart_total">
            <span>قیمت کل سبد خرید:</span>
            <span class="price">{{ user_basket_order_sum|intcomma:False }} تومن</span>
        </div>
    </div>

    <div class="mini_cart_footer">
        <div class="cart_button">
            <a href="{% url 'user_basket_order' %}">نمایش سبد خرید</a>
        </div>
        <div class="cart_button">
            <a href="checkout.html">پرداخت</a>
        </div>

    </div>

</div>