{% extends 'shared/_MainLayout.html' %}


{% block title %}اعمال کلمه عبور جدید{% endblock %}

{% block content %}
    <div class="customer_login mt-32">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div class="col-md-6">
                    <div class="account_form">
                        <h2>کلمه عبور جدید</h2>
                        <form action="{% url 'reset_password_page' active_code=user.email_active_code %}" method="post">
                            {% csrf_token %}
                            <p class="{% if reset_password_form.password.errors %} text-danger {% endif %}">
                                {{ reset_password_form.password.label_tag }}
                                {{ reset_password_form.password }}
                                {{ reset_password_form.password.errors }}
                            </p>
                            <p class="{% if reset_password_form.confrim_password.errors %} text-danger {% endif %}">
                                {{ reset_password_form.confrim_password.label_tag }}
                                {{ reset_password_form.confrim_password }}
                                {{ reset_password_form.confrim_password.errors }}
                            </p>
                            <div class="login_submit">
                                <button type="submit">ثبت کلمه عبور جدید</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div>
{% endblock %}